button {
    font-family: inherit;
    display: inline-block;
    width: 6em;
    height: 2.6em;
    line-height: 2.5em;
    overflow: hidden;
    margin: 20px;
    font-size: 17px;
    z-index: 1;
    color: var(--azul);
    border: 2px solid var(--azul);
    border-radius: 6px;
    position: relative;
  }
  
  button::before {
    position: absolute;
    content: "";
    background: var(--azul);
    width: 150px;
    height: 200px;
    z-index: -1;
    border-radius: 50%;
  }
  
  button:hover {
    color: var(--branco);
  }
  
  button:before {
    top: 100%;
    left: 100%;
    transition: .3s all;
  }
  
  button:hover::before {
    top: -30px;
    left: -30px;
  }

  button:active{
    padding-top: 10px;
  }

  .form_button{
    padding-top: 10px;
  }

  .btn-cancelar{
    color: var(--vermelho);
    color: var(--vermelho);
    border: 2px solid var(--vermelho);
  }

  .btn-cancelar::before{
    background: var(--vermelho);
  }