:root{
    --azul: #0077ff;
    --azul-escuro: #0000CD;
    --cinza: #808080;
    --branco: #FFFFFF;
    --preto: #000000;
    --vermelho: #FF0000;
    --verde-claro: #00FF00;
    --amarelo-escuro: #FFD700;
}